.section {
    margin-top: 20px;
    margin-left: 20px;
}

.document-list {
    display: flex;
    overflow-x: auto;
    padding-bottom: 20px;
}

.section-headers {
    color: #022049;
    margin-left: 50px;
}

.no-documents {
    font-size: 18px;
    color: #06295c;
    margin-bottom: 20px;
    margin-left: 45%;
}