.signup-allcontainer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  
.signup-RotatorLogo{
  position: fixed;
  top: -10%;
  left: -500px;
  transform: translateX(-50%);
  opacity: 0.6;
  width: 1000px;
  z-index: 0;
  height: auto;
  animation: rotateLogo 5s linear infinite;
}
  
@keyframes rotateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
.signup-container {
  z-index: 1;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 20%;
  min-width: 400px;
}
  
.signup-container h1 {
  color: #333333;
}

.signup-input-group {
  position: relative;
  margin-bottom: 15px;
}
  
.signup-input-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.signup-input-group label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #555;
  transition: all 0.2s;
  pointer-events: none;
  background-color: #fff;
  padding: 0 5px;
}

.signup-input-group input:focus + label,
.signup-input-group.focused label {
  top: -10px;
  left: 10px;
  color: #007bff;
  font-size: 12px;
}

.signup-eye-icon-Password {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: auto;
}

.signup-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.signup-container button::before {
  font-size: 16px;
  display: grid;
  place-items: center;
  content: 'Sign up';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #0056b3, #007bff);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s;
}

.signup-container button:hover::before {
  opacity: 1;
}

.signup-container a {
  color: #007bff;
  text-decoration: none;
}

.signup-container a:hover {
  color: #0056b3;
}

.signup-container a:visited,
.signup-container a:focus,
.signup-container a:active {
  color: #007bff;
}