.Navbar-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #007bff;
    padding: 20px 30px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Navbar-Icon {
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

.Navbar-Container h1 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    flex-grow: 1;
    font-size: 32px;
    margin: 0;
}

.Navbar-Container ul {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    list-style: none;
    display: flex;
    margin-right: 50px;
    height: 100%;
    position: relative;
}

.Navbar-Container ul li {
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 0px 50px;
}

.Navbar-Container ul li:hover {
    color: #06295c;
    text-decoration: underline;
}

.Navbar-Container ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 10px 0;
    z-index: 1;
}

.Navbar-Container ul li:hover ul {
    display: block;
}

.Navbar-Container ul li ul li {
    background-color: white;
    display: block;
    padding: 10px 20px;
    white-space: nowrap;
    border-radius: 2px;
    color: #007bff;
}

.Navbar-Container h2 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 24px;
    margin: 0;
    margin-right: 20px;
    padding-left: 20px;
    color: #06295c;
}

@media (max-width: 768px) {
    .Navbar-Container {
        flex-direction: column;
        align-items: flex-start;
    }
    .Navbar-Container h1 {
        margin-bottom: 10px;
    }
    .Navbar-Container ul {
        flex-direction: column;
        gap: 10px;
    }
    .Navbar-Container h2 {
        padding-left: 0;
    }
}