.profilecard-profilefield {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profilecard-profilefield label {
    color: #06295c;
    display: block;
    font-weight: bold;
    flex: 0 0 100px;
}

.profilecard-profilefield span {
    color: #0056b3;
    display: block;
    flex: 1;
}